<!DOCTYPE html>
<html>
<head>
    <title>Sistema Bancário</title>
</head>
<body>

<h1>Sistema Bancário</h1>

<h2>Criar Conta</h2>
<input type="text" id="nome" placeholder="Nome">
<input type="text" id="cpf" placeholder="CPF">
<button onclick="criarConta()">Criar Conta</button>

<h2>Depositar</h2>
<input type="number" id="contaDeposito" placeholder="Conta">
<input type="number" id="valorDeposito" placeholder="Valor">
<button onclick="depositar()">Depositar</button>

<h2>Sacar</h2>
<input type="number" id="contaSaque" placeholder="Conta">
<input type="number" id="valorSaque" placeholder="Valor">
<button onclick="sacar()">Sacar</button>

<h2>Histórico</h2>
<input type="number" id="contaHistorico" placeholder="Conta">
<button onclick="historico()">Ver Histórico</button>

<h3 id="resultado"></h3>

<script src="script.js"></script>

</body>
</html>